@media only screen and (min-width:1024px){
    .header-container{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-evenly;
    }

    .header_item {
        width: 70%; 
         height: 130px;
        display: flex;
        justify-content: space-around;

    }

    .items {
        width: 520px;
        margin-top: 0px;
        display: flex;
        justify-content: space-between;
    }
    .donate-container{
        width:20%;
    }

    .donate {
        width: 200px;
        margin-top: 120px;
        border-radius: 20px;
    }
    .home{
        height:660px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        padding: 66px;
        background-size:cover;
    }

    .home-main-container{
        width: 48%;
        height: 520px;
        

    }

    .home-container {
        width: 45%;
        height: 520px;
        display: flex;
        align-items: flex-start;
    }

    .outer {
        margin-left: 80px;
    }

    .inner {
        width: 32rem;
        height: 330px;
        text-align: start;
    }

    .inner-para {
        padding-left: 80px;
        padding-top: 50px;
        margin-bottom: 24px;
        font: normal normal bold 36px/46px Helvetica;
        margin-bottom: 50px;
    }

    .inner-para1 {
        padding-left: 80px;
    }

    .section1{
        height:200px;
    }
    .inner-item {
        display: flex;
        justify-content: space-between;
        position:static;
        height: 90px;
        width: 66rem;
    }

    .item1 {
        width:50%;
        display: grid;
    }

    .h1{
        grid-area:1/1/2/2;
        padding-left:10px;
    }
    .h2{
        grid-area: 1/2/2/3;
        padding-left:10px;
    }
    .p1{
        grid-area:2/1/3/2;
    }
    .p2{
        grid-area:2/2/3/3;
    }
    
    .item2{
        width:50%;
        display: grid;
    }

    .h3{
        grid-area:1/1/2/2;
        padding-left:10px;
    }
    .h4{
        grid-area: 1/2/2/3;
        padding-left:10px;
    }
    .p3{
        grid-area:2/1/3/2;
    }
    .p4{
        grid-area:2/2/3/3;
    }

    .section2{
        top:200px;
        height: 1015px;
    }
    
    #inner-sec-para1{
        margin-left: 23px;
    }
     
    .sec-head1{
        text-align: left;
    }
    #sec-head1{
        padding-left: 23px;
    }

    .para2{
        text-align: left;
    }
    .sec2-part1{
        display:grid;
        grid-template-columns: 5% 30% 30% 30% 5%;
        grid-template-rows: 15% 15% 70%;
        grid-column-gap: 10px;
    }
    .sec-para1{
       grid-area:1/2/2/4;
    }
    .sec-para2{
        grid-area:2/2/3/5;
    }

    .sec-para3{
        align-items: flex-start;
        width: 18rem;
    }

    #sec-para3{
        text-align:left;
        padding-left: 24px;
    }

    .sec-2{
        grid-area:3/2/4/3;
    }
    .sec-21{
        grid-area:3/3/4/4;
    }

    .sec-211{
        grid-area:3/4/4/5;
    }
    .img{
        width: 280px;
        height: 300px;
        margin-bottom: 30px;
        position: relative;
        top: -34px;
        left: 24px;
    }

    .section3{
        top: 160px;
    }
     
    .main-container {
        height: 820px;
        display: grid;
        grid-template-rows: 94% 6%;
        grid-template-columns: 40% 60%;
    }

    .top-head {
        grid-area: 1/1/2/2;
        font: normal normal normal 44px/46px Flood Std;
        margin-top: 30px;
        margin-left: 30px;
        margin: 30px;
    }

    .btn {
        grid-area: 1/1/2/2;
        margin-top: 270px;
        margin-left: 30px;

    }

    .sec3-container {
        grid-area: 1/2/2/3;
    }

    #sec3-container1 {
        margin-top: 220px;
    }

    #sec3-container2 {
        margin-top: 410px;
    }

    #sec3-container3 {
        margin-top: 600px;
    }

    .sec3-knowBtn{
        top: -759px;
        text-align: center;
        left: 608px;
    }

    .section4{
        top: 160px;
        height:560px;
    }

    .sec4-img-container{
        width: 56%;
    }
    .sec4-contents{
        width: 50%;
        height: 330px;
        position: relative;
        left: 25px;
        bottom: 10px;
    }

    .sec4-btn2{
        margin-bottom: -365px;
        position: relative;
        left: 140px;
    }
    .sec4-btn1{
        top: -215px;
        right: 290px;
    }

    .sec4-container{
        flex-direction: row-reverse;
        height: 490px;
    }

    .section5{
        height:1500px;
    }
    .sec5-main-container{
        align-items:last baseline;
        margin:auto;
        width:75%;
        height:1465px;
        justify-content: space-between;
       }
       .sec5-main-head{
        text-align: left;
        font: normal normal normal 44px/46px Flood Std;
       }
    
       .sec5-btn1{
        justify-self: end;
        align-self: first baseline;
        margin-right: 156px;
        margin-top: 84px;
       }
    
       .sec5-btn2{
        justify-self: start;
        align-self: first baseline;
        margin-right: 156px;
        margin-top: 84px;
       }
    
       .sec5-img1{
        justify-self: flex-start;
        align-self: self-start;
        margin-top: 93px;
       }
       
    
      .sec5-cont1,.sec5-cont2{
        width:300px;
        height:500px;
        justify-self: flex-end;
        justify-content: left;
        align-items: self-start;
      
      }
      .sec5-cont2{
        justify-self:flex-start;  
    }
    .sec5-img2{
        justify-self: end;
        align-self: self-start;
        margin-top: 93px;
    }
    
      
    .sec5-head1,.sec5-head-para{
        text-align: start;
        margin-top:35px;
        letter-spacing: 0.44px;
        color: white;
    }
    .sec5-head1{
        font: normal normal bold 28px/36px Helvetica;
    }
    .sec5-head-para{
        padding-top: 5px;
        font: normal normal 300 14px/20px Helvetica;
    }
    .sec5-btn3{
        margin-top: 60px;
    }


   .sec6-container{
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 40% 30%;
   }
   .sec6-para{
        grid-area:2/1/3/2;
        padding-left: 40px;
   }
   .sec6-btn{
        grid-area:2/2/3/3;
   }


   .section7{
        top: 225px;
        height:401px;
   }
    
   .sec7-container{
        grid-template-columns: 32% 12% 12% 12% 32%;
        grid-template-rows: 30% 70%;
        height:350px;
        grid-gap: 5px;
   }

   .sec7-p1{
        grid-area:2/1/3/2;
        padding-top:0px;
   }
   .sec7-p2{
        grid-area:2/2/3/3;
   }
   .sec7-para11{
        padding-top:0px;
        border-bottom:2px solid #354463;
        padding-bottom: 4px;
   }
   .sec7-para21{
        padding-top: 10px;
   }
   .sec7-p3{
        grid-area:2/3/3/4;
   }
   .sec7-para1{
       border-bottom:2px solid #354463;
       border-width: 90%;
       padding-bottom: 4px;
   }
   .sec7-para2{
    text-decoration:none;
    padding-top: 10px;
   }
   .sec7-p4{
        grid-area:2/4/3/5;
   }
   .sec7-p5{
        grid-area:2/5/3/6;
   }



}