* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header section */
.header-container {
    width: 100%;
    height: 200px;
    overflow: auto;
    
}

.header_item {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box1 {

    font-size: 1.4rem;
    font-weight: bold;
}

li {
    padding: 3px;
}

ul.items {
    list-style-type: none;
}

.donate-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate {
    width: 85%;
    height: 40px;
    background-color: #C1F7D5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#donate {
    font-size: 1.2rem;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.anne {
    display: flex;
    justify-content: center;
}


/* The issue */
.home {
    width: 100%;
    height: 800px;
    background: transparent url('./Assets/annie-spratt/annie-spratt-img.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    padding-bottom: 100px;
    background-position: center;
}

.home-para {
    width: 200px;
    height: 200px;
    font: normal normal normal 44px/46px Flood Std;
    padding-left: 40px;
    padding-top: 40px;
    color: #FFFFFF;

}

.home-main-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 500px;
}

.home-container {
    width: 80%;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

}

.outer {
    width: 160px;
    height: 60px;
    background-color: black;
    color: white;
    position: relative;
    top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.inner {
    width: 100%;
    height: 280px;
    background-color: white;
    text-align: center
}

.inner-para {
    /* text-align: center; */
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 80px;
    margin-bottom: 30px;
}

.inner-para1 {
    text-decoration: underline;
}


/* section1  'Take Action'*/
.section1 {
    width: 100%;
    height: 328px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.outer1 {
    position: relative;
    top: -32px;
}

.inner-item {
    width: 100%;
    height: 240px;
    /* background-color: aqua;   */
    display: flex;
    position: relative;
    top: 25px
}

.item1 {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.item2 {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.p {
    padding: 10px;
    align-items: center;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
}

.head {
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}



/* section2 'what we do' */
.section2 {

    width: 100%;
    height: 2500px;
    background: #354463;
    position: relative;
    top: 328px;
}

.sec2-part1 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sec-para1 {
    width: 50%;
    height: 40px;
    background-color: #FFFFFF;
    margin-top: 40px;
}

.para1 {
    text-align: center;
    margin-top: 12px;
    font: normal normal normal 14px/17px Helvetica;
}

.sec-para2 {
    width: 75%;
    margin-top: 40px;
}

.para2 {
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    color: #FFFFFF
}

.sec-para3 {
    width: 85%;
    height: 600px;
    background-color: white;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sec-head1 {
    font: normal normal bold 18px/22px Helvetica;
    color: #354463;
    text-align: center;
    margin-bottom: 20px;
}

#sec-para3 {
    text-align: center;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
}

#inner-sec-para1 {
    width: 152px;
    height: 40px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    text-align: center;
    padding-top: 8px;
    font: normal normal bold 16px/20px Helvetica;
}


.img {
    width: 280px;
    height: 300px;
    margin-bottom: 30px;
    position: relative;
    top: -60px;
}

.img1 {
    background: transparent url('./Assets/tree-planting/tree-planting.png') 0% 0% no-repeat padding-box;
    background-size: cover;
}


.sec-21 {
    margin-top: 120px;
}

.img2 {
    /* margin-left:30px; */
    background: transparent url('./Assets/education-training/education-training@2x.png') 0% 0% no-repeat padding-box;
    background-size: cover;
}

.img3 {
    /* margin-left:40px; */
    background: transparent url('Assets/advocacy/advocacy@2x.png') 0% 0% no-repeat padding-box;
    ;
    background-size: 100% 100%;
}

/* section3  'take action today'*/
.section3 {
    position: relative;
    top: 288px;
}

.sec3 {
    width: 100%;
    height: 1050px;
    margin-top: 40px;
    background: transparent url('Assets/advocacy/Didyouknowbackground.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 90%;
    height: 930px;
    /* background-color:aqua; */
    position: relative;
    top: 80px;
}

.top-head {
    font: normal normal normal 44px/46px Flood Std;
    color: #FFFFFF;
}

.btn {
    width: 170px;
    height: 40px;
    background-color: #C1F7D5;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

.sec3-knowBtn {
    width: 160px;
    position: relative;
    height: 2rem;
    background-color: #354463;
    padding-top: 6px;
    top: 45px;
    text-align: center;
    left: 210px;
}

.sec3-container {
    width: 90%;
    height: 150px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 50%;
    margin-top: 30px;
    margin-left: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.sec3-head {
    grid-area: 1/1/2/2;
    font: normal normal bold 22px/28px Helvetica;
}

.sec3-para {
    grid-area: 2/1/3/2;
    font: normal normal 300 14px/20px Helvetica;
}

.icons {
    width: 40px;
    height: 40px;
    background-color: #C1F7D5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}



/* section4 'The stories' */
.section4 {
    width: 100%;
    height: 1000px;
    background-color: #FFFFFF;
    position: relative;
    top: 288px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec4-container {
    width: 86%;
    height: 880px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.sec4-btn1 {
    width: 150px;
    height: 40px;
    background-color: #354463;
    color: #FFFFFF;
    position: relative;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec4-img-container {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
}

.sec4-img {
    width: 100%;
    height: 100%;
    display: block;
}

.sec4-img1 {
    background: transparent url('./Assets/lady-baby/lady-baby.png') 0% 0% no-repeat padding-box;
    background-size: cover;
}

.sec4-contents {
    width: 100%;
    height: 300px;
    background-color: #354463;
    color: #FFFFFF;
}

.sec4-p1 {
    font: normal normal bold 22px/28px Helvetica;
    text-align: center;
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.sec4-p2 {
    font: normal normal normal 11px/13px Helvetica;
    text-align: center;
    margin-top: 40px;
    letter-spacing: 0.44px;
}

.sec4-btn2 {
    width: 170px;
    height: 50px;
    background-color: #C1F7D5;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.sec4-p3 {
    font: normal normal bold 18px/22px Helvetica;
}


/* section5 'The event' */
.section5 {
    width: 100%;
    height: 1570px;
    background-color: #354463;
    position: relative;
    top: 245px;

}

.sec5-main-container {
    width: 100%;
    height: 1530px;
    display: grid;
    grid-template-rows: 2% 14% 42% 42%;
    grid-template-columns: 5% 90% 5%;
}

.sec5-main-head {
    grid-area: 2/2/3/3;
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;

}

.sec5-btn1 {
    grid-area: 3/2/4/3;
    width: 150px;
    height: 40px;
    background-color: black;
    position: relative;
    top: 10px;
    justify-self: center;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
}

.sec5-head1 {
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
}

.sec5-head-para {
    text-align: center;
    font: normal normal 300 14px/20px Helvetica;
    padding-top: 10px;
}

.sec5-btn3 {
    width: 140px;
    height: 40px;
    background-color: beige;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
}

.sec5-btn2 {
    grid-area: 4/2/5/3;
    width: 150px;
    height: 40px;
    background-color: black;
    position: relative;
    top: 10px;
    justify-self: center;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
}

.sec5-img1 {
    grid-area: 3/2/4/3;
    width: 280px;
    height: 280px;
    margin-top: 30px;
    justify-self: center;
}

.sec5-img11 {
    width: 100%;
    height: 100%;
    background: transparent url('./Assets/tree-planting/tree-planting.png') 0% 0% no-repeat padding-box;
    background-size: cover;
}

.sec5-img2 {
    grid-area: 4/2/5/3;
    width: 280px;
    height: 280px;
    margin-top: 30px;
    justify-self: center;
}

.sec5-img12 {
    width: 100%;
    height: 100%;
    background: transparent url('./Assets/meeting.png') 0% 0% no-repeat padding-box;
    background-size: cover;
}

.sec5-cont1,
.sec5-cont2 {
    grid-area: 3/2/4/3;
    margin-top: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sec5-cont2 {
    grid-area: 4/2/5/3;
}





/* section6 subscriber */
.section6 {
    width: 100%;
    height: 250px;
    background-color: #C1F7D5;
    position: relative;
    top: 245px;
}

.sec6-container {
    width: 100%;
    height: 245px;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 50% 50%;
}

.sec6-para {
    grid-area: 1/2/2/3;
    padding-top: 30px;
    font: normal normal bold 22px/28px Helvetica;
}

.sec6-btn {
    grid-area: 2/2/3/3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sec6-btn1 {
    width: 220px;
    height: 50px;
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 15px;
    border-radius: 28px;
}

.sec6-btn2 {
    width: 110px;
    height: 50px;
    background-color: #354463;
    text-align: center;
    padding-top: 15px;
    border-radius: 28px;
}

/* section7 footer */
.section7 {
    width: 100%;
    height: 600px;
    position: relative;
    top: 310px;
}

.sec7-container {
    width: 100%;
    height: 550px;

    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
}

.sec7-p1 {
    grid-area: 1/1/2/2;
    font: normal normal bold 18px/22px Helvetica;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 60px;
}

.sec7-p2 {
    grid-area: 1/2/2/3;
}

.sec7-p3 {
    grid-area: 2/1/2/2;
    padding-left: 30px;
}

.sec7-p4 {
    grid-area: 2/2/2/3;
}

.sec7-para11 {
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.sec-para21 {
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;

}

.sec7-para1 {
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    padding-bottom: 10px;
}

.sec7-para2 {
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    text-decoration: underline;
    padding-right: 80px;

}

.sec7-p5 {
    grid-area: 3/2/4/3;
    font: normal normal normal 44px/46px Flood Std;
    color: #354463;
}