@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .header-container {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-around;
    }

    .header_item {
        width: 436px;
        height: 130px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 30px;

    }

    .items {
        width: 400px;
        margin-top: 0px;
        display: flex;
        justify-content: space-between;
    }

    .donate {
        width: 200px;
        margin-top: 120px;
        border-radius: 20px;
    }

    .home-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .outer {
        margin-left: 80px;
    }

    .inner {
        height: 330px;

        text-align: start;

    }

    .inner-para {
        padding-left: 80px;
        padding-top: 30px;
        margin-bottom: 24px;
        font: normal normal bold 36px/46px Helvetica;
    }

    .inner-para1 {
        padding-left: 80px;
    }

    .inner-item {
        display: flex;
        justify-content: space-between;
    }

    .item1 {
        display: flex;
        align-items: normal;
    }

    .p {
        padding-left: 40px;
        padding-bottom: 50px;
        font: normal normal 300 16px/24px Helvetica;
    }

    .item2 {
        display: flex;
        align-items: normal
    }

    .head {
        padding-left: 40px;
    }

    .outer1 {
        margin-right: 90px;
    }

    .sec-para1 {
        width: 200px;
        margin-right: 60%;
    }

    .sec-para2 {
        width: 90%;
        /* margin-top:25px; */

        padding-left: 20px;
    }

    .para2 {
        font: normal normal bold 36px/46px Helvetica;
        text-align: start;
    }

    .sec-para3 {
        height: 300px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 90% 10%;

    }

    .section2 {
        width: 100%;
        height: 1680px;
    }

    .img {
        width: 280px;
        height: 250px;
        grid-area: 1/1/2/2;
        top: -50px;
        margin-left: 40px;
        padding-left: 20px;

    }

    #inner-sec-para1 {
        grid-area: 1/1/2/2;
        margin-top: 200px;
        margin-left: 160px;
    }

    #sec-head1 {
        text-align: start;
        grid-area: 1/2/1/3;
        margin-bottom: 180px;
        margin-left: 20px;
        margin-right: 100px;
        margin-top: 40px;
        font: normal normal bold 22px/28px Helvetica;
    }

    #sec-para3 {
        text-align: start;
        grid-area: 1/2/1/3;
        margin-left: 10px;
        margin-top: 150px;
        margin-right: 40px;
        font: normal normal 300 16px/24px Helvetica;
    }

    .section3 {
        height: 900px;
    }

    .main-container {
        height: 820px;
        display: grid;
        grid-template-rows: 94% 6%;
        grid-template-columns: 40% 60%;
    }

    .top-head {
        grid-area: 1/1/2/2;
        font: normal normal normal 44px/46px Flood Std;
        margin-top: 30px;
        margin-left: 30px;
        margin: 30px;
    }

    .btn {
        grid-area: 1/1/2/2;
        margin-top: 270px;
        margin-left: 30px;

    }

    .sec3-container {
        grid-area: 1/2/2/3;
    }

    #sec3-container1 {
        margin-top: 220px;
    }

    #sec3-container2 {
        margin-top: 410px;
    }


    #sec3-container3 {
        margin-top: 600px;
    }
     
    .sec3-knowBtn{
        top: -759px;
        text-align: center;
        left: 525px;
    }

    .section4 {
        height: 965px;
    }

    .sec4-btn1 {
        margin-left: 50px;
        height: 70px;
    }

    .sec4-container {
        width: 88%;
        height: 860px;
        align-items: flex-start;
    }

    .sec4-img-container {
        width: 84%;
        height: 1000px;
    }

    .sec4-contents {
        width: 84%;
        height: 500px;
        margin-left: 60px;
        position: relative;
        top: -100px;
    }

    .sec4-btn2 {
        height: 60px;
        margin-left: 50px;
        margin-top: 0px;
        margin-left: 60px;
        position: relative;
        top: -60px;
    }

    .sec4-p1 {
        text-align: left;
        margin-left: 10px;
        margin-top: 40px;
        font: normal normal bold 22px/28px Helvetica;
    }

    .sec4-p2 {
        text-align: left;
        font: normal normal normal 14px/17px Helvetica;
        margin-left: 50px;
    }

   .sec5-main-container{
    align-items:last baseline;

    justify-content: space-between;
   }
   .sec5-main-head{
    text-align: left;
    font: normal normal normal 44px/46px Flood Std;
   }

   .sec5-btn1{
    justify-self: end;
    align-self: first baseline;
    margin-right: 156px;
    margin-top: 84px;
   }

   .sec5-btn2{
    justify-self: start;
    align-self: first baseline;
    margin-right: 156px;
    margin-top: 84px;
   }

   .sec5-img1{
    justify-self: flex-start;
    align-self: self-start;
    margin-top: 93px;
   }
   

  .sec5-cont1,.sec5-cont2{
    width:300px;
    height:500px;
    justify-self: flex-end;
    justify-content: left;
    align-items: self-start;
  
  }
  .sec5-cont2{
    justify-self:flex-start;  
}
.sec5-img2{
    justify-self: end;
    align-self: self-start;
    margin-top: 93px;
}

  
.sec5-head1,.sec5-head-para{
    text-align: start;
    margin-top:35px;
    letter-spacing: 0.44px;
    color: white;
}
.sec5-head1{
    font: normal normal bold 28px/36px Helvetica;
}
.sec5-head-para{
    padding-top: 5px;
    font: normal normal 300 14px/20px Helvetica;
}
.sec5-btn3{
    margin-top: 60px;
}

.sec6-para{
    font: normal normal bold 22px/28px Helvetica;
}

.sec6-btn1{
  width: 480px;
  text-align: start;
  padding-left: 10px;
}

.sec7-container{
    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 33%;
}
.sec7-p3{
    grid-area:1/3/2/4;
    margin-top: 41px;
}

.sec7-p5{
    grid-area: 2/3/3/4;
}

}