@media only screen and (min-width: 1024px) {


    .form {
        width: 28rem;
    }

    .heading {
        width: 20rem;
        margin-bottom: 32rem;
        font: normal normal normal 56px/76px Flood Std;

    }

    .form-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;

    }

    .para-heading {
        width: 26rem;
        font: normal normal bold 24px/36px Helvetica;
        align-self: flex-start;
        margin-left: 1.1rem;
    }

    .box-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .btn-box {
        width: 16rem;
    }

    .section2 {
        height: 14rem;
    }

    .section2-container {
        height: 12rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 5% 95% 5%
    }

    .green-tree {
        grid-area: 2/1/3/2;
        font: normal normal bold 18px/22px Helvetica;
        padding: 10px;
    }

    .contact-us {
        grid-area: 2/2/3/3;
    }

    .follow-us {
        grid-area: 2/3/3/4;
        padding: 10px;
        text-decoration: none;

    }

    .learn-more {
        grid-area: 2/4/3/5;
        padding: 10px;
        text-decoration: none;
    }

    .stop {
        grid-area: 2/5/3/6;
        font: normal normal normal 44px/46px Flood Std;
        padding: 10px;
    }

    .sec2-p1,
    .sec2-p2 {
        text-decoration: none;
    }

    .sec2-para1,
    .sec2-para3,
    .sec2-para5 {
        border-bottom: solid 2px gray;
    }

}