* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #354463;
}

.main-header {
    width: 8rem;
    height: 3.2rem;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    display: flex;
    align-items: center;
}

.section1 {
    width: 100%;
    height: 67rem;
    background-color: bisque;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent url('./Assets/annie-spratt-427340-unsplash-\(1\).png') 0% 0% no-repeat padding-box;
    background-size: 100% 100%;
    background-position: center;
}

.heading {
    width: 90%;
    height: 14rem;
    /* margin: auto; */
    font: normal normal normal 32px/46px Flood Std;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}

.your-info {
    width: 90%;
    height: 20rem;
}

.payment-info {
    width: 90%;
    height: 11.5rem;
}

.form {
    width: 90%;
    height: 50rem;
    /* margin: auto; */
    background-color: #354463;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;

}

.your-info-form {
    width: 100%;
    height: 14.4rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(16, 1fr);
    grid-row-gap: 0.8rem;

}

.info-heading {
    width: 100%;
    height: 5rem;
    padding-top: 1.4rem;
    font: normal normal bold 22px/28px Helvetica;
}

input {
    width: 100%;
    display: block;
    border: none;
    background: transparent;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #FFFFFF;
    opacity: 1;
    padding-top: 10px;
}

label {
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
}

.first-name {
    grid-area: 1/1/2/8;
}

.last-name {
    grid-area: 1/10/2/17;
}

.street-address {
    grid-area: 2/1/3/17;
}

.city {
    grid-area: 3/1/4/7;
}

.state {
    grid-area: 3/9/4/13;
}

.zip-code {
    grid-area: 3/14/4/17;

}

.email {
    grid-area: 4/1/5/17;
}

.form-info {
    border-bottom: solid 2px #C1F7D5;
    display: flex;
    flex-direction: column;
}

.payment-heading {
    width: 100%;
    height: 5rem;
    padding-top: 1.4rem;
    font: normal normal bold 22px/28px Helvetica;
}

.payment-form {
    width: 100%;
    height: 6.4rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(16, 1fr);
    grid-row-gap: 0.8rem;
}

.card-number {
    grid-area: 1/1/2/17;
}

.expire-date {
    grid-area: 2/1/3/8;
    position: relative;
}

.security-code {
    grid-area: 2/10/3/17;
    width: 50%;
}

.date {
    display: flex;

}

.date::after {
    content: "";
    height: 5px;
    width: 5px;
    position: absolute;
    bottom: -4px;
    background: #354463;
    left: calc(50% - 2.5px);
}

.para-heading {
    width: 90%;
    height: 10rem;
    font: normal normal bold 18px/22px Helvetica;
    padding-top: 3rem;
}


.box-container {
    width: 90%;
    height: 6rem;

}

.btn-box {
    width: 100%;
    height: 3rem;
    font: normal normal bold 16px/20px Helvetica;
    background-color: #C1F7D5;
    padding-top: 1rem;
    text-align: center;
    border-radius: 20px;
}

.goback {
    text-decoration: underline;
    margin-top: 1.5rem;
    color: #C1F7D5;
}

.section2 {
    width: 100%;
    height: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2-container {

    width: 90%;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: #354463;
}

.green-tree {
    grid-area: 1/1/2/2;
    font: normal normal bold 18px/22px Helvetica;
    padding: 10px;
}

.contact-us {
    grid-area: 1/2/2/3;
    font: normal normal 300 14px/20px Helvetica;
    padding: 10px;
}

.follow-us {
    grid-area: 2/1/3/2;
    font: normal normal 300 14px/20px Helvetica;
    padding: 10px;
}

.learn-more {
    grid-area: 2/2/3/3;
    font: normal normal 300 14px/24px Helvetica;
    padding: 10px;
}

.stop {
    grid-area: 3/2/4/3;
    font: normal normal normal 44px/46px Flood Std;
    padding: 10px;
}

.sec2-para4 {
    text-decoration: underline;
    padding-top: 10px;

}

.sec2-para6 {
    text-decoration: underline;
    padding-top: 10px;
}

.sec2-para2 {
    padding-top: 10px;
}