@media only screen and (min-width: 740px) and (max-width: 1023px) {

    .heading {
        width: 20rem;
    }

    .para-heading {
        width: 26rem;
        font: normal normal bold 24px/36px Helvetica;
        align-self: flex-start;
        margin-left: 2.1rem;
    }

    .box-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .btn-box {
        width: 16rem;
    }

    .section2-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .follow-us {
        grid-area: 1/3/2/4;
    }

    .stop {
        grid-area: 2/3/3/4;
    }



}