@media only screen and (min-width: 1024px){
    .header-section{
        height:12rem;
    }
    .main-container{
        display: flex;
        align-items: center;

    }
    .header-container{
        align-items: flex-start;
        height:5rem;
    }
    .header-btn{
        width:40%;
    }
    ul{
        width:33rem;
        display: flex;
        justify-content: space-between;
        height:2.5rem;
        align-items: flex-end;
    }


     .section1{
        height: 26rem;
    }
    .sec1-main-container{
        flex-direction: row;
        justify-content: space-between;
        height: 26rem;
        align-items: center;
    }

    .sec1-container{
       
        width: 38rem;
        height: 17rem;
        position: relative;
        top: 7rem;
    }

    .sec1-box{
        width: 32rem;
        height: 15rem;
        font: normal normal bold 28px/36px Helvetica;
        text-align: left;
        padding-top: 2rem;
    }

    .sec1-btn{
        right: 12rem;
    }
    .sec1-head{
        width: 13rem;
        height: 13rem;
        font: normal normal normal 44px/46px Flood Std;
        padding-top: 3rem;
    } 


    .section2 {
        height: 58rem;
      }
    .sec2-main-container{
        height: 58rem;
    }
   
    .sec2-box{
        width:90%;
        align-items: flex-start;
        padding-top: 4rem;
    }
    .sec2-para{
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
    }

    .sec2-container{
        grid-template-columns: 5% 30% 30% 30% 5%;
        grid-template-rows: repeat(4,1fr);
        height: 45rem;
    }
    .sec2-btn{
        width: 20%;
    }

    .sec2-container{
        grid-template-columns: 6% 22% 22% 22% 22% 6%;
        grid-template-rows: 10% 40% 40% 10%;
    }

    .item1{
        grid-area: 2/2/3/3;
     }
     .item2{
         grid-area: 2/3/3/4;
      }
      .item3{
         grid-area: 2/4/3/5;
      }
      .item4{
         grid-area: 2/5/3/6;
      }
      .item5{
         grid-area: 3/2/4/3;
      }
      .item6{
         grid-area: 3/3/4/4;
      }
      .item7{
         grid-area: 3/4/4/5;
      }
      .item8{
         grid-area: 3/5/4/6;
      }


      .section3{
        height: 62rem;
     }
    .sec3-main-container{
        align-items: self-start;
        height: 61rem;
    }
    .sec3-box{
        width: 100%;
        height:12rem;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .sec3-btn{
        width: 20%;
        margin-left: 6%;
    }
    .sec3-head{
        text-align: left;
        width:46%;
        font: normal normal bold 36px/46px Helvetica;
        height:10rem;
    }
    .sec3-para{
        text-align: left;
        width:35%;
        height:10rem;
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;

    }

    .sec3-img{
        height: 16rem;
    }

    .sec3-container{
        grid-template-columns: 7% 29% 29% 29% 6%;
        grid-template-rows: repeat(2,1fr);
        height: 40rem;
        grid-column-gap: 0px;
    }

    .sec3-item3 {
        grid-area: 1/4/2/5;
      }

    .sec3-item4 {
        grid-area: 2/2/3/3;
      }

    .sec3-item5 {
        grid-area: 2/3/3/4;
      }

    .sec3-item6 {
        grid-area: 2/4/3/5;
      }

    .sec3-box1{
        padding-top: 13px;
        padding-bottom: 8px;
        height: 3rem;
        position: relative;
        bottom: 27px;
        left: 36px;
    }
    

    .section4{
        height: 25rem;
    }
    .sec4-items{
        width: 16%;
    }

    .sec4-main-container{
        height: 25rem;
    }

    .sec4-container{
        height: 13rem;
        flex-direction: row;
    }

    .letsTakeActionDiv {
        height: 900px;
        padding-right: 0px;
    
        & .letsTakeActionText {
          padding-left: 64px;
          width: 95%;
          height: 20%;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10%;
    
          & .arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: #c1f7d5 0% 0% no-repeat padding-box;
          }
        }
    
        & .letsTakeActionSlider {
          height: 80%;
          width: 100%;
          padding-left: 0;
          gap: 5%;
    
          & .slider {
            & .sliderGrid {
              width: 100%;
    
              & .sliderTitle {
                width: 25%;
                right: 18%;
              }
    
              & .nonTitlePart {
                width: 80%;
    
                & .sliderImg {
                  height: 50%;
    
                  & .arrow {
                    display: none;
                  }
                }
    
                & .sliderImgTitle {
                  height: 10%;
                  width: 80%;
                }
    
                & .sliderImgTexts {
                  height: 10%;
                  width: 60%;
                }
    
                & .readMore {
                  height: 5%;
                }
              }
            }
          }
        }
      }

    .sec6-container{
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 40% 30%;
   }
   .sec6-para{
        grid-area:2/1/3/2;
        padding-left: 40px;
   }
   .sec6-btn{
        grid-area:2/2/3/3;
   }


.footer{
    height: 16rem;
}

.footer-container {
    height: 12rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 5% 95% 5%
}

.green-tree {
    grid-area: 2/1/3/2;
    font: normal normal bold 18px/22px Helvetica;
    padding: 10px;
}

.contact-us {
    grid-area: 2/2/3/3;
}

.follow-us {
    grid-area: 2/3/3/4;
    padding: 10px;
    text-decoration: none;

}

.learn-more {
    grid-area: 2/4/3/5;
    padding: 10px;
    text-decoration: none;
}

.stop {
    grid-area: 2/5/3/6;
    font: normal normal normal 44px/46px Flood Std;
    padding: 10px;
}

.footer-p1,
.footer-p2 {
    text-decoration: none;
}

.footer-para1,
.footer-para3,
.footer-para5 {
    border-bottom: solid 2px gray;
}



}