*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width:100%;
    height:15rem;
}

.main-container{
    width:100%;
    height:14rem;
}

.green-tree{
    width: 11rem;
    height: 5rem;
    font: normal normal bold 18px/22px Helvetica;
    color: #354463;
}

.header-container{
    width:100%;
    height:10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-btn{
    width:100%;
    height:4rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
button{
    width:60%;
    height:2rem;
    border-radius: 10px;
    background-color: #C1F7D5;
}
a{
    text-decoration: none;
    font: normal normal bold 18px/22px Helvetica;
    color:#354463;
}

ul{
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
}
li{
    list-style: none;
}



.section1{
    width:100%;
    height: 50rem;
}
.sec1-background-img{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url('../Assets/about-us/annie-spratt-427339-unsplash.png');
    background-position: 100%;
    background-size: cover;

}

.sec1-main-container{
    width: 85%;
    height:40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.sec1-head{
    width:12rem;
    height:10rem;
    font: normal normal normal 44px/46px Flood Std;
    color: #ffffff;
}

.sec1-container{
   width: 21rem;
   height: 20rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: white;
}

.sec1-btn{
    width: 8rem;
    height: 2rem;
    background-color: #354463;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    position: relative;
    top: -1.2rem;
    text-align: center;
    padding-top: 8px;
}

.sec1-box{
    width: 15rem;
    height: 17rem;
    font: normal normal bold 22px/28px Helvetica;
    text-align: center;
}

.section2{
    width:100%;
    height: 84rem;
}

.sec2-main-container{
    width:100%;
    height:84rem;
    background-color: #354463;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#FFFFFF;
}

.sec2-box{
    width:78%;
    height:20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.sec2-btn{
    width: 55%;
    height: 3rem;
    text-align: center;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    background-color: #FFFFFF;
    color:#354463;
}

.mission{
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
}

.sec2-container{
    width: 100%;
    height:60rem;
    display:grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: 5% 45% 45% 5%;
}

.item1{
   grid-area: 1/2/2/3;
}
.item2{
    grid-area: 1/3/2/4;
 }
 .item3{
    grid-area: 2/2/3/3;
 }
 .item4{
    grid-area: 2/3/3/4;
 }
 .item5{
    grid-area: 3/2/4/3;
 }
 .item6{
    grid-area: 3/3/4/4;
 }
 .item7{
    grid-area: 4/2/5/3;
 }
 .item8{
    grid-area: 4/3/5/4;
 }

 .sec2-head{
    width: 95%;
    height: 2rem;
    padding-top: 6px;
    font: normal normal bold 16px/20px Helvetica;
    color: #FFFFFF;
 }

 .sec2-para1{
    width: 95%;
    height: 9rem;
    padding-top: 10px;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color:white;
 }
 .sec2-para{
    height: 9rem;
    text-align: center;
    width: 100%;
    font: normal normal bold 22px/28px Helvetica;
    color:#FFFFFF
 }

 .section3{
    width:100%;
    height: 58rem;
 }

 .sec3-main-container{
    width:100%;
    height: 55rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
 }

 .sec3-btn{
    width:30%;
    height:2rem;
    background-color: #354463;
    text-align: center;
    padding-top: 0.5rem;
    color:#FFFFFF;
 }

 .sec3-box{
    width: 85%;
    height: 12rem;
    text-align: center;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#354463;
 }
 .sec3-head{
    width: 90%;
    height: 4rem;
    font: normal normal bold 22px/28px Helvetica;
    text-align: center;
 }
 .sec3-para{
    width: 90%;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;

 }

 .sec3-container{
    width: 100%;
    height: 38rem;
    padding-top:2rem;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: repeat(3,1fr);
    grid-column-gap: 10px;
 }

 .sec3-item1{
    grid-area:1/2/2/3;
 }
 .sec3-item2{
    grid-area:1/3/2/4;
 }
 .sec3-item3{
    grid-area:2/2/3/3;
 }
 .sec3-item4{
    grid-area:2/3/3/4;
 }
 .sec3-item5{
    grid-area:3/2/4/3;
 }
 .sec3-item6{
    grid-area:3/3/4/4;
 }

 .sec3-img{
    width: 80%;
    height: 8rem;
 }
 .sec3-img1{
    width:100%;
    height: 100%;
    background-image: url('../Assets/about-us/Screen-Shot-2018-10-04-at-9.35.07-PM.png');
    background-size: cover;
 }
 .sec3-img2{
    width:100%;
    height: 100%;
    background-image: url('../Assets/about-us/Screen-Shot-2018-10-04-at-9.35.17-PM.png');
    background-size: cover;
 }
 .sec3-img3{
    width:100%;
    height: 100%;
    background-image: url('../Assets/about-us/Screen-Shot-2018-10-04-at-9.35.37-PM.png');
    background-size: cover;
 }

 .sec3-img4{
    width:100%;
    height: 100%;
    background-image: url('../Assets/about-us/Screen-Shot-2018-10-04-at-9.36.04-PM.png');
    background-size: cover;
 }
 .sec3-img5{
    width:100%;
    height: 100%;
    background-image: url('../Assets/about-us/Screen-Shot-2018-10-04-at-9.36.19-PM.png');
    background-size: cover;
 }
 .sec3-img5{
    width:100%;
    height: 100%;
    background-image: url('../Assets/about-us/Screen-Shot-2018-10-04-at-9.36.19-PM.png');
    background-size: cover;
 }
 .sec3-img6{
    width:100%;
    height: 100%;
    background-image: url('../Assets/about-us/Screen-Shot-2018-10-04-at-9.37.13-PM.png');
    background-size: cover;
 }

 .sec3-box1{
    width: 80%;
    background-color: black;
    color: white;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;

 }

 .section4{
    width: 100%;
    height: 54rem;
 }
 
 .sec4-head{
    width: 40%;
    height: 3rem;
    background-color: #FFFFFF;
    padding-top: 14px;
    text-align: center;
    color:#354463;
 }

 .sec4-para{
    width: 90%;
    height: 5rem;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
 }

 .sec4-container{
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
 }

 .sec4-main-container{
    width: 100%;
    height: 55rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url('../Assets/about-us/Impact\ Background.png');
    background-size: cover;
    background-attachment: initial;
    background-repeat: no-repeat;
    color:#FFFFFF;
 }

 .sec4-items{
    width: 40%;
    height: 6rem;
 }

 .sec4-h1{
    font: normal normal normal 44px/46px Flood Std;
    text-align: center;
 }

 .sec4-p2{
    font: normal normal bold 16px/20px Helvetica;
    text-align: center;
 }


 .letsTakeActionDiv {
   padding: 0 10%;
   height: 1000px;
   background-color: #354463;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
 
   .letsTakeActionText {
     display: flex;
     height: 20%;
     width: 80%;
     color: #ffffff;
     font: normal normal normal 44px/46px Std;
     font-family: "floodregular";
 
     .arrow {
       display: none;
     }
   }
 
   .letsTakeActionSlider {
     width: 95%;
     height: 70%;
 
     .slider {
       /* background-color: red; */
       display: flex;
       width: 100%;
       height: 90%;
       overflow-x: auto;
       scroll-snap-type: x mandatory;
       scroll-behavior: smooth;
 
       .sliderGrid {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         flex: 1 0 100%;
         scroll-snap-align: start;
         object-fit: cover;
         .sliderImg {
           width: 100%;
           height: 35%;
           background: url("../Assets/about-us/Image.png");
           background-size: cover;
           background-repeat: no-repeat;
           display: flex;
           justify-content: flex-end;
           align-items: center;
           .arrow {
             display: flex;
             justify-content: center;
             align-items: center;
             width: 48px;
             height: 48px;
             border-radius: 50%;
             background: #c1f7d5 0% 0% no-repeat padding-box;
           }
         }
 
         .sliderTitle {
           background-color: #ffffff;
           position: relative;
           display: flex;
           justify-content: center;
           align-items: center;
           height: 5%;
           width: 40%;
           top: 2%;
           text-align: center;
           font: normal normal normal 14px/17px Helvetica;
           letter-spacing: 0.56px;
           color: #354463;
         }
 
         .nonTitlePart {
           background-color: #ffffff;
           height: 100%;
           display: flex;
           flex-direction: column;
           justify-content: space-between;
           align-items: center;
           padding-bottom: 15px;
 
           .sliderImgTitle {
             width: 90%;
             height: 20%;
             text-align: center;
             font: normal normal bold 22px/28px Helvetica;
             letter-spacing: 0px;
             color: #354463;
           }
 
           .sliderImgTexts {
             height: 20%;
             width: 80%;
             color: #354463;
           }
 
           .readMore {
             display: flex;
             align-items: center;
             justify-content: center;
             height: 40px;
             width: 50%;
             background: #c1f7d5 0% 0% no-repeat padding-box;
             border-radius: 100px;
             text-align: center;
             font: normal normal bold 18px/22px Helvetica;
             letter-spacing: 0px;
             color: #354463;
           }
         }
       }
     }
     .sliderNav {
       padding-top: 10px;
       display: flex;
       column-gap: 5%;
       position: absolute;
       left: 50%;
       bottom: 1.25 rem;
       transform: translateX(-50%);
       z-index: 1;
     }
 
     .sliderNav a {
       width: 20px;
       height: 20px;
       background-color: #ffffff;
       border-radius: 50%;
     }
   }
 }


 .section6{
   width:100%;
   height:250px;
   background-color: #C1F7D5;
}
.sec6-container{
   width:100%;
   height:245px;
   display: grid;
   grid-template-columns:5% 90% 5%;
   grid-template-rows: 50% 50%;
}
.sec6-para{
   grid-area:1/2/2/3;
   padding-top: 30px;
   font: normal normal bold 22px/28px Helvetica;
}
.sec6-btn{
   grid-area:2/2/3/3;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.sec6-btn1{
   width:220px;
   height:50px;
   background-color:#FFFFFF;
   text-align: center;
   padding-top: 15px;
   border-radius:28px;
}
.sec6-btn2{
   width:110px;
   height:50px;
   background-color:#354463;
   text-align: center;
   padding-top: 15px;
   border-radius:28px;
}


.footer {
   width: 100%;
   height: 32rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer-container {

   width: 90%;
   height: 30rem;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, 1fr);
   color: #354463;
}

.green-tree {
   grid-area: 1/1/2/2;
   font: normal normal bold 18px/22px Helvetica;
   padding: 10px;
}

.contact-us {
   grid-area: 1/2/2/3;
   font: normal normal 300 14px/20px Helvetica;
   padding: 10px;
}

.follow-us {
   grid-area: 2/1/3/2;
   font: normal normal 300 14px/20px Helvetica;
   padding: 10px;
}

.learn-more {
   grid-area: 2/2/3/3;
   font: normal normal 300 14px/24px Helvetica;
   padding: 10px;
}

.stop {
   grid-area: 3/2/4/3;
   font: normal normal normal 44px/46px Flood Std;
   padding: 10px;
}

.footer-para4 {
   text-decoration: underline;
   padding-top: 10px;

}

.footer-para6 {
   text-decoration: underline;
   padding-top: 10px;
}

.footer-para2 {
   padding-top: 10px;
}





 







