@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .header-container{
        width: 67%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        padding-left: 3rem;
       
    }
    .header-btn{
        width:30%;

    }
    .main-container{
        display: flex;
        align-items: center;
        height: 12rem;
    }
    ul{
        width:100%;
        display: flex;
        justify-content: space-between;
    }
    .green-tree{
        width: 12rem;
        height: 7rem;
        font: normal normal bold 22px/28px Helvetica;
    }
    button{
        width: 10rem;
        height: 3rem;
        border-radius: 2rem;
    }

    .section1{
        height:40rem;
    }
    .sec1-main-container{
        justify-content: space-evenly;
    }

    .sec1-container{
        width:38rem;
        height:17rem;
    }

    .sec1-box{
        width: 32rem;
        height: 15rem;
        font: normal normal bold 28px/36px Helvetica;
        text-align: left;
        padding-top: 2rem;
    }

    .sec1-btn{
        right: 10rem;
    }


    .sec2-main-container{
        height: 65rem;
    }
    .section2{
        height: 65rem;
    }
    .sec2-box{
        width:90%;
        align-items: flex-start;
    }
    .sec2-para{
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
    }

    .sec2-container{
        grid-template-columns: 5% 30% 30% 30% 5%;
        grid-template-rows: repeat(4,1fr);
        height: 45rem;
    }

    .item3{
        grid-area: 1/4/2/5;
     }

     .item4{
        grid-area: 2/4/3/5;  
     }
     .item5{
        grid-area: 2/2/3/3;
        
     }
     .item6{
        grid-area: 2/3/3/4;
     }
     .item7{
        grid-area: 3/2/4/3;
     }
     .item8{
        grid-area: 3/3/4/4;
     }

     .section3{
        height:90rem;
     }
    .sec3-main-container{
        align-items: self-start;
        height: 85rem;
    }
    .sec3-box{
        width: 100%;
        height:12rem;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .sec3-btn{
        margin-left: 6%;
    }
    .sec3-head{
        text-align: left;
        width:46%;
        font: normal normal bold 36px/46px Helvetica;
        height:10rem;
    }
    .sec3-para{
        text-align: left;
        width:35%;
        height:10rem;
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;

    }

    .sec3-img{
        height: 16rem;
    }

    .sec3-container{
        grid-template-columns: 7% 43% 43% 7%;
        height: 60rem;
        grid-column-gap: 0px;
    }

    .sec3-box1{
        padding-top: 13px;
        padding-bottom: 8px;
        height: 3rem;
        position: relative;
        bottom: 27px;
        left: 36px;
    }

    .section4{
        height:49rem;
    }
    .section4-main-container{
        height:48rem;
    }
    .sec4-container{
        display: grid;
        grid-template-rows: 5% 45% 45% 5%;
        grid-template-columns: 50% 50%;
        width: 60%;
        align-items: flex-start;
        height: 30rem;
      }

      .sec4-items {
        width: 100%;
        height: 10rem;
      }

      .sec4-item1{
        grid-area: 2/1/3/2;
      }

      .sec4-item2{
        grid-area: 2/2/3/3;
      }

      .sec4-item3{
        grid-area: 3/1/4/2;
      }
      
      .sec4-item4{
        grid-area: 3/2/4/3;
      }

      .sec4-para{
        font: normal normal bold 36px/46px Helvetica;
      }
      .sec4-h1{
        font: normal normal normal 72px/76px Flood Std;
      }
      .sec4-p2{
        font: normal normal bold 22px/28px Helvetica;
      }

      .sec4-head{
        width: 30%;
      }


      .letsTakeActionDiv {
        padding: 0 0% 0% 10%;
        height: 1000px;
        padding-right: 0px;
        align-items: flex-start;
    
        .letsTakeActionText {
          height: 20%;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10%;
    
          & .arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 94px;
            height: 94px;
            border-radius: 50%;
            background: #c1f7d5 0% 0% no-repeat padding-box;
          }
        }
    
        .letsTakeActionSlider {
          height: 80%;
    
          & .slider {
            gap: 5%;
    
            & .sliderGrid {
              flex: 1 0 35%;
              & .nonTitlePart {
                & .sliderImg {
                  & .arrow {
                    display: none;
                  }
                }
              }
            }
          }
          .sliderNav {
            display: none;
          }
        }
      }


    .sec6-para{
        font: normal normal bold 22px/28px Helvetica;
    }
    
    .sec6-btn1{
      width: 480px;
      text-align: start;
      padding-left: 10px;
    }


    .footer-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .follow-us {
        grid-area: 1/3/2/4;
    }

    .stop {
        grid-area: 2/3/3/4;
    }
    
    

}